
<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta name="viewport" content="width=device-width">			
        <title>Sample Cart Razorpay</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css"/>
  	</head>

<body ng-app = "myModule" ng-controller = "myController">	
		<div>				
			<div id = "product">
				<div id = "p_list" ng-repeat = "product in products ">
					<h5>{{product.p_name}}</h5>
					<center><img ng-src = "{{product.p_image}}"/></center>
					<div><label>Price: {{product.p_price}}</label></div>
					<center><button type = "button" ng-click = "add_cart(product)"> Add to cart</button></center>
				</div>
			</div>
		</div>
		<div class = "pull-right col-md-5">
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h5>MY CART</h5>
				</div>
				<div class = "panel-body table-responsive">
					<table class = "table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "cartProduct in carts" ng-init = "setTotals(cartProduct)">
								<td>{{cartProduct.p_name}}</td>
								<td>{{cartProduct.p_price}}</td>
								<td>{{cartProduct.p_qty}}</td>
								<td><button type = "button" ng-click = "remove_cart(cartProduct)" class = "btn btn-danger"></button></td>
							</tr>
							<tr>
								<td align = "right">Total </td>
								<td>{{total}}</td>
								<td><button ng-click="btnClick(total)">Click to Pay</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
</body>	
</html>
